#rojo {
  background-color: red;
}

#amarillo {
  background-color: yellow;
}

#azul {
  background-color: blue;
}

#verde {
  background-color: green;
}

.color-simon {
  opacity: 0.5;
  transition: opacity 500ms;
}

.prendido {
  filter: brightness(100%);
}

.oculto {
  display: none !important;
}

@media (max-width: 767px) {
  #barra-estado {
    flex-direction: column;
  }
}

#barra-estado {
  max-width: 540px;
  margin: 0 auto;
}

#tablero-simon {
  max-width: 540px;
  margin: 0 auto;
}