#tablero-simon {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #efefef;
  width: calc(100% - 10em);
  max-width: 640px;
  min-height: 500px;
}

#rojo {
  grid-row: 1;
  grid-column: 1;
  background-color: red;
}

#amarillo {
  grid-row: 1;
  grid-column: 2;
  background-color: yellow;
}

#azul {
  grid-row: 2;
  grid-column: 1;
  background-color: blue;
}

#verde {
  grid-row: 2;
  grid-column: 2;
  background-color: green;
}

.apagado {
  filter: brightness(50%);
}

.prendido {
  filter: brightness(100%);
}
